html,
body {
  padding: 0;
  margin: 0 10vw;
  font-family: Helvetica Neue, sans-serif;
  font-size: 18px;
}

a {
  color: inherit;
}
a:hover {
  color: blue;
  transition: 0.1s ease-in-out 0.1s;
}

* {
  box-sizing: border-box;
}

.allSite {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

.img {
  margin-top: 2rem;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  html,
  body {
    margin: 0 7vw;
    font-size: 17px;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  html,
  body {
    margin: 0 4vw;
    font-size: 17px;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  html,
  body {
    margin: 0 2vw;
    font-size: 17px;
  }
}

@media (max-width: 800px) {
  html,
  body {
    margin: 0 1vw;
    font-size: 16px;
  }
}
