.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p.left {
  text-align: left;
}

p.center {
  text-align: center;
}

.orange {
  color: rgb(198, 134, 15);
}

.green {
  color: green;
}

.purple {
  color: #bd1789;
}

.main {
  padding: 1rem 0;
}

main.toppage {
  padding-top: 2rem;
}

.program {
  border-top: 8px solid purple;
  border-bottom: 8px solid purple;
  margin-top: 2rem;
}

.program h2 {
  font-size: 2rem;
}

.sessiontitle {
  background-color: rgb(247, 245, 239);
  height: 4rem;
  padding-top: 0.15rem;
  padding-left: 1rem;
}

/* .sessiontitle {
  font-weight: normal;
} */

.flexcontainer {
  height: 100%;
  padding: 1rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid lightgrey;
}

.flexcontainer:last-child {
  border-bottom: 0;
}

.flexcontainer:hover {
  background-color: rgb(251, 251, 222);
}

.presentationtitle {
  width: 75%;
  font-weight: bold;
}

.presentationspeaker {
  width: 25%;
  text-align: right;
  font-style: italic;
  font-weight: normal;
}

.flexitem {
  color: inherit;
  text-align: center;
  /* font-weight: bold; */
}

.appel {
  padding-bottom: 1rem;
  border-top: 1px solid purple;
}

.infos {
  padding-bottom: 1rem;
  border-bottom: 1px solid purple;
}

.dates {
  padding-bottom: 1rem;
  background-color: rgb(247, 245, 239);
}

.footer {
  width: 100%;
  padding-top: 1rem;
  /* height: 100px; */
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/* .footer img {
  margin-left: 0.5rem;
} */

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.nounderline {
  text-decoration: none;
}

.maintitle {
  margin-bottom: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: bold;
}

.container .description {
  margin-top: -1rem;
}

.logo {
  height: 3em;
  margin-top: 1rem;
}

@media (max-width: 500px) {
  .title {
    font-size: 3.5rem;
  }
}
